<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수정 페이지</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">수정 페이지</h2>
    <form th:action="@{/todo/edit/{id}(id=${todo.id})}" th:object="${todo}" method="post" class="row g-3">
        <div class="col-md-4">
            <label for="task" class="form-label">할 일</label>
            <input type="text" id="task" th:field="*{task}" class="form-control" required/>
            <div th:if="${#fields.hsaErrors('task')}" class="text-danger small">
                <span th:errors="*{task}">할 일 오류</span>
            </div>
        </div>

        <div class="col-md-4">
            <label for="description" class="form-label">설명</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" required/>
            <div th:if="${#fields.hasErrors('description')}" class="text-danger small">
                <span th:errors="*{description}">설명 오류</span>
            </div>
        </div>

        <div class="col-md-4">
            <label for="due" class="form-label">마감일</label>
            <input type="date" id="due" th:field="*{due}" class="form-control" required/>
        </div>

        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Update</button>
            <a th:href="@{/todo/}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</body>
</html>
